@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary: #456037;
    --secondary: #F16F37;
    --background: #FAFAFA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--background);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav{
    width: 85px;
    height: 490px;
    background-color: var(--primary);
    border-radius: 0px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    color:#FFFFFF;
}

hr{
    width: 85px;
}