@import url('common.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.portfolio{
    height: 90vh;
    background-color:var(--primary)

}

.portfolio h3{
    font-size: 30px;
    line-height: 100px;
    color: var(--secondary);
}

.portfolio p{
    color: var(--secondary);
    font-size: 15px;
    font-weight: lighter;
}

.portfolio a{
    color: var(--secondary);
    font-size: 12px;   
}


.headerPortfolio{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.containerPortfolio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 70vh;
}